#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC  &kp TAB  &kp LSHFT  &kp LCTRL  &kp A  &kp Z  &kp LGUI  &kp W  &kp X  &kp LALT  &kp E  &kp D  &kp R  &kp F  &kp V  &mo 5  &kp G  &kp B  &lt 2 TAB  &trans  &kp Q  &kp S  &kp C  &kp T  &lt 1 SPACE  &kp BSPC  &kp RET  &kp QMARK  &kp RIGHT  &kp PIPE  &kp UP  &kp DOWN  &kp O  &kp DOT  &kp LEFT  &kp I  &kp K  &kp U  &kp J  &kp M  &trans  &kp H  &kp N  &lt 4 ENTER  &trans  &kp P  &kp L  &kp COMMA  &kp Y  &lt 1 BSPC
            >;
        };

        Mouse_Layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp ESC  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp RA(RG(R))  &kp RA(RG(N))  &kp RA(RG(S))  &kp LG(RIGHT)  &kp RIGHT  &kp RC(RG(RS(NUMBER_4)))  &kp RC(UP)  &kp UP  &kp RG(LEFT)  &mkp LCLK  &kp LEFT  &trans  &kp RG(RA(L))  &kp RG(RA(B))  &kp RG(RA(ENTER))  &trans  &kp LG(T)  &mkp RCLK  &kp DOWN  &kp RG(W)  &trans
            >;
        };

        Mark_Layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp AT_SIGN  &trans  &trans  &kp HASH  &kp TILDE  &kp DOLLAR  &kp COLON  &trans  &trans  &kp MINUS  &trans  &kp LANG1  &trans  &kp EXCL  &trans  &trans  &kp PERCENT  &trans  &trans  &trans  &trans  &trans  &kp RBRC  &trans  &trans  &kp LPAR  &trans  &trans  &kp ASTRK  &kp QUESTION  &kp AMPS  &kp DOUBLE_QUOTES  &trans  &trans  &kp PLUS  &trans  &kp LANG2  &trans  &kp RIGHT_PARENTHESIS  &kp LBRC  &trans  &kp CARET  &trans
            >;
        };

        Number_Layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp N2  &trans  &trans  &kp N3  &kp GRAVE  &kp N4  &kp SEMICOLON  &trans  &trans  &kp UNDERSCORE  &trans  &trans  &trans  &kp N1  &trans  &trans  &kp N5  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp N9  &trans  &trans  &kp N8  &kp SLASH  &kp N7  &kp SQT  &trans  &trans  &kp EQUAL  &trans  &trans  &trans  &kp N0  &trans  &trans  &kp N6  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_CLR  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
